body{
    font-family: 'Roboto Mono', sans-serif;
    background:rgb(114, 114, 114)
}

.header_div{
    background-color: whitesmoke;
    color: red
}

.header_div p{
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    letter-spacing: 2px;
    font-size:18px;
    font-weight:bold;
}

.main_div button{
    font-family:'Roboto', serif;
    margin-top:30px;
    width:130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position:fixed;
    color:black;
    bottom:0;
    width:100%;
    font-size:18px;
    background-color: grey;
    line-height:3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(2, 9, 106);
}